{%extends "_layout.html" %}



{% block heading %}
Hello, World!!
{% endblock %}


{% block body %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum non nisl ut varius. Curabitur eget lectus
venenatis, ultrices turpis ullamcorper, elementum mauris. Aliquam erat volutpat. Cras vulputate odio ex, non pharetra
ipsum vehicula ut. Pellentesque ac magna eget mi ultricies ornare ac vel mauris. Donec consectetur dolor vel nulla
scelerisque, eu fringilla lectus tempus. Praesent eget elementum sem, nec faucibus lorem.

<a href="{{ url_for('more') }}">See more...</a>
{% endblock %}